@using System
@{
    // 404 Not Found
    //
    // This view was added by NotFoundMVC
    // For inspiration see: https://www.google.be/search?q=example+404+page
    //
    // The following properties are available in the ViewBag:
    // ViewData["RequestedUrl"]
    // ViewData["ReferrerUrl"]
    //

    ViewBag.Title = "Page introuvable";
}

<h1>Page introuvable...</h1>

<p>La page suivante n'est plus disponible : @ViewBag.RequestedUrl</p>
@if (ViewBag.ReferrerUrl != null)
{
    <p>Go back to the <a href="@ViewBag.ReferrerUrl">previous page</a>.</p>
}