@{
    ViewBag.Title = "Mon compte";
}

<h2>Mon compte</h2>

<div>
    <h4>Changer les paramètres de votre compte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Mot de passe :</dt>
        <dd>[
                @Html.ActionLink("Changer votre mot de passe", "ChangePassword")
            ]
        </dd>
    </dl>
</div>
