@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>
<h3>Contacter notre support Flaming Software</h3>

<address>
    19 Rue Victor Hugo<br />
    54000 Nancy<br />
    <span class="glyphicon glyphicon-phone-alt"></span> 01 23 45 67 89
</address>

<address>
    <span class="glyphicon glyphicon-envelope"></span> <strong>Assistance technique:</strong>   <a href="mailto:lbouvard57@gmail.com">Bouvard Laurent</a><br />
    <span class="glyphicon glyphicon-envelope"></span> <strong>Contact commercial:</strong> <a href="mailto:sebastien.frebault@gmail.com">Frébault Sébastien</a>
</address>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2633.762965580111!2d6.166196115405191!3d48.69089637927151!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47949875f3e47ed9%3A0xb9638a208f8ccef5!2s19+Rue+Victor+Hugo%2C+54000+Nancy!5e0!3m2!1sfr!2sfr!4v1444661506561" width="600" height="450" frameborder="0" style="border:0"></iframe>
