@{
    ViewBag.Title = "Foire aux questions";
}
<h2>Foire aux questions</h2>

<hr />

<div class="row">
    <img src="~/Content/Images/ic_faq.png" />
</div>

<br/>

<p><a href="#telechargement"> Le téléchargement ne fonctionne pas.</a></p>
<p><a href="#version"> Quelle version d'Android faut-il utiliser pour utiliser l'application ?</a></p>
<p><a href="#compte"> Je n'ai pas de compte pour me connecter, à qui dois-je m'adresser ?</a></p>

<br/>
<br/>

<p id="telechargement">
    <h4><strong>Le téléchargement ne fonctionne pas.</strong></h4>
    Si le téléchargement ne se lance pas, contactez nous à l'adresse support@flamingsoft.fr en prenant soin de nous décrire le problème.
</p>
<br/>
<p id="version">
    <h4><strong>Quelle version d'Android faut-il utiliser pour utiliser l'application ?</strong></h4>
    Les applications mobiles fournies à nos clients fonctionne sur les smartphones Android en version 4.4 (KitKatt) et supérieur.
</p>
<br/>
<p id="compte">
    <h4><strong>Je n'ai pas de compte pour me connecter, à qui dois-je m'adresser ?</strong></h4>
    Pour obtenir un compte pour vous connecter et télécharger les paquets, adressez vous au service informatique de votre entreprise.
</p>
