@{
    ViewBag.Title = "Home Page";
}

<h2>Accueil</h2>
<div class="row">
    <!-- Logo de l'entreprise à insérer-->
    <img src="Images/logo.jpg" />
</div>

<div class="row">
    @Html.ActionLink("Se connecter", "Login", "Account")
</div>

