@{
    ViewBag.Title = "Accueil";
}

<h2>Accueil</h2>

<div class="row">
    <!-- Logo de l'entreprise à insérer-->
    <img src="~/Content/Images/ic_flamingsoftware.png" />
</div>

<div class="row">
@if (! User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Se connecter", "Login", "Account")
}
</div>

